body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b); 
  }
  
  form {
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    
  }
  
  input {
    margin: 5px;
    padding: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    
  }

  
  button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(63, 50, 41);
    color: white;
  }

  h1, h2 {
    text-align: center;
  }
  